<html>
	<body>
		<div id='container'>
			<%= render 'list_posts' -%>
			<div id='conteudo'>
				<div id='post'>
					<div> <%= @post.titulo.html_safe -%> </div>
					<div> <%= @post.conteudo.html_safe -%> </div>
					<div> Criado por: <%= @post.try(:usuario).try(:nome) -%> | <%= @post.created_at.strftime("Criado em %d/%m/%Y - %H:%M h") -%> </div>
				</div>
			</div>
		</div>
	</body>
</html>