<div id='post_new'>
<h1>Criar novo post</h1>
<%= form_for(post) do |f| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.hidden_field :usuario_id, :value => current_user.id %>
  <div class="field">
    <%= f.label :titulo %>
    <%= f.text_field :titulo, size: 50 %>
  </div>

  <div class="field">
    <%= f.label :conteudo %>
    <%= f.text_area :conteudo, size: "100x20" %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
    </br>
    <%= link_to 'Voltar', root_url %>
  </div>
<% end %>
</div>